
@{
    ViewData["Title"] = "View";
    Layout = "Index";
}

<h4>Niveles</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Raw("Nivel")
            </th>
            <th>
              
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    @Html.Raw("Nivel 1")
                </td>
                <td>
                 <button href="./Nivel1/indexNivel1.cshtml" class="btn-outline-secondary">Explorar contenido</button>
                </td>
            </tr>
        }
    </tbody>
</table>
