@{
    ViewData["Title"] = "Home Page";
}

  

<div>
    <div>
        <h1 class="display-3" style="text-align:center">Bienvenidos a nuestro instituto</h1>
    </div>
    <div>
        <h3 class="display-4"style="text-align:center">Ort Falso</h3>
    </div>
    <div>
        
        <h5>
          Bienvenidos a Ort Falso,
            <text>Este institu se decica a copiar y realizar todas las cosas que ORT Argentina ofrece pero mejor</text>
        </h5>

    </div>
    <div>
        <text>
            
            El Curso de Ingreso busca favorecer el pasaje de la escuela primaria a la secundaria y posibilitar una buena inserción de los alumnos en la escuela. Está diseñado como un dispositivo de aprendizaje integral, que comprende contenidos de Tecnología, Matemática y Lengua.


            Objetivos generales del Curso de Ingreso
            Favorecer y acompañar el pasaje gradual a la Escuela ORT a través de la familiarización con la propuesta educativa, con las normas de convivencia, el uso de los espacios físicos (talleres, aulas, laboratorios) y a partir de la interrelación con adultos y pares;

            Brindar los conocimientos, las metodologías y los criterios de trabajo utilizados en nuestras Escuela en las áreas de Lengua y Matemática;

            Diagnosticar las aptitudes e intereses de los aspirantes a ingresar;

            Diagnosticar los niveles de conocimiento inicial y el proceso de adquisición de nuevos contenidos;

            Vincular a los alumnos con los contenidos, metodologías y ámbitos de trabajo en Tecnología.

            Estos objetivos se llevan a cabo a partir del trabajo realizado en el aula utilizando los materiales didácticos diseñados por los docentes de la Escuela ORT. Contando con el apoyo socio-afectivo y el seguimiento pedagógico de los Coordinadores de cada Grupo, proponemos un cambio gradual que favorezca el ingreso al secundario.
        </text>

    </div>

</div>
