@model IEnumerable<AprenderHolandes.Models.MateriaCursada>
@{
    ViewData["Title"] = "Home Page";
}



<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="./images/ImagenMolino.jpg" class="d-block w-100" alt="ImagenMolino">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-white-50"><b>Clases holandés</b></h5>
                <p class="text-white-50">Online</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="./images/ImagenGante.jpg" class="d-block w-100" alt="ImagenGante">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-white-50"><b>Modalidad</b></h5>
                <p class="text-white-50">Clases Individuales o grupales.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="./images/ImagenAmsterdam.jpg" class="d-block w-100" alt="ImagenAmsterdam">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-white-50"><b>Interactiva y individualizada</b></h5>
                <p class="text-white-50">Con plataforma educativa</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<hr />

<div>
    <h5>Cursos Disponibles</h5>
    <hr />
    <table class="table">
        <thead>
            <tr>

            </tr>
            <tr>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @item.AlumnoMateriaCursadas.Count / @Html.DisplayFor(modelItem => item.Materia.CupoMaximo) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                       <button type="button" class="btn btn-outline-secondary"asp-action="Registrar">Inscribirse</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



