@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/editor.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">
</head>

<body>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">


    <!-- Bootstrap core CSS -->
    <link href="../../css/editor.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">




    <div class="container">


        <div class="jumbotron">
            <h1 class="display-3">Aprender holandés</h1>
            <p class="lead">Querés aprender holandés desde cero en una manera interactiva y divertida?? No dudes, regístratete hoy!!&nbsp;</p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">Registrar</a></p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Modalidades</h4>
                <p><b>Clases privadas:</b></p><div></div><div><b><br></b></div><div><b><div class="container" style=""></div>Clases grupales:</b><div style="text-decoration-style: solid; text-decoration-color: rgb(42, 37, 34);">Tenemos dos veces por semana clases grupales. Por ahora solamente tenemos grupos para principiantes. Las clases grupales son online. El programa para principiantes dura un cuatrimestre. Empezamos en septiembre y terminamos en deciembre.<div><br></div></div></div><div><h4 style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; color: rgb(33, 37, 41);"><div><br></div>Recomendaciones</h4></div>
                <div></div>

                <h4><div data-component-video="" style="min-height:240px;min-width:240px;position:relative"><iframe frameborder="0" src="https://www.youtube.com/embed/-stFvGmg1A8" style="width:100%;height:100%;position:absolute;left:0px;pointer-events:none"></iframe></div></h4>
                <p></p><div></div><div><b><br></b></div>


                <div class="col-lg-6">
                </div>
            </div>



        </div> <!-- /container -->



    </div>
</body>
</html>




