@model IEnumerable<AprenderHolandes.Models.AlumnoMateriaCursada>

@{
    ViewData["Title"] = "VerMateriasCursadasAlumno";
}

<h1>Calificaciones</h1>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion.Materia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion.NotaFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion.Materia.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion.NotaFinal)
            </td>
            
        </tr>
}
    </tbody>
</table>
