@model AprenderHolandes.ViewModels.CambiarContrasenia

@{
    ViewData["Title"] = "ChangePassword";
}

<h4>Cambiar Contraseña</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if(ViewBag.IsSuccess == true)
            {
            <div class="bg-success" role="alert">La contraseña esta actualizada</div>
            }
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmarNuevaContrasenia" class="control-label"></label>
                <input asp-for="ConfirmarNuevaContrasenia" class="form-control" />
                <span asp-validation-for="ConfirmarNuevaContrasenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cambiar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
