@model AprenderHolandes.Models.ForgotPassword

@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>Olvidaste tu contraseña?</h1>

<h4>No hay problema...</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (Model?.Emailsent == true)
        {


            <div class="alert  alert-success" role="alert">
                <p>Si estas registrado, te mandamos un mail</p>
            </div>
        }
        else
        {
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </div>
            </form>
        }

    </div>
</div>

<div>
    <a asp-action="IniciarSesion">Volver</a>
</div>

